#admin {
    background: url("./../imgs/illustration_commander.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 73px;
    padding: 20px;
}

#messages {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 10px;
}

#list_msg {
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    align-items: stretch;
    flex-direction: column;
    height: 83vh;
}

.msg {
    text-align: left;
    padding: 10px;
    border-radius: 20px;
}

#list_msg a,
#list_msg a:link {
  color: black;
  text-decoration: none;
}

#msg {
    background-color: white;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 14px 14px #f3f3f3;
}

#connexion {
    width: 100%;
    margin-top: 73px;
    padding: 20px;
}

#connexion form {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#connexion form input, #connexion form label {
    width: 100%;
    margin: 10px;
}

#connexion input {
  display: flex;
  color: black;
  align-items: center;
  border: none;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 0.1px solid rgb(223 223 223);
  font-size: 14px;
  margin-bottom: 10px;
}

#connexion input:focus {
  outline: none;
  border-bottom: 0.1px solid rgb(0, 119, 255);
}

#connexion input:hover {
  transform: scale(1.02);
}

#connexion label {
    text-align: right;
    padding-right: 10px;
}

#connexion form label {
    text-align: right;
    padding-right: 10px;
}

#img_dec {
    width: 25px;
}

.img_msg, .img_delete {
    width: 24px;
    vertical-align: middle;
}

.msg_no_lu {
    background-color: rgb(192, 253, 233);
}

.msg_lu {
    background-color: rgb(250, 250, 250);
}

.msg_no_lu:hover {
    background-color: rgb(145, 255, 218);
}

.msg_lu:hover {
    background-color: rgb(228, 228, 228);
}

.un_msg {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: unset;
    align-content: center;
}

.two_column_button {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 15px;
}

#admin #user, #admin #pass {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: center;
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 14px 14px #f3f3f3;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

input, textarea, select {
  display: flex;
  color: black;
  align-items: center;
  border: none;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 0.1px solid rgb(223 223 223);
  font-size: 14px;
  margin-bottom: 10px;
}

textarea {
    height: 100px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-bottom: 0.1px solid rgb(0, 119, 255);
}

input:hover, textarea:hover, select:hover {
  transform: scale(1.02);
}

label {
    text-align: right;
    padding-right: 10px;
}

#img-plat {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 235px;
    height: 235px;
}

input[type="file"] {
    display: none;
}

#bt_valide_annule {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bt_valide_annule .bt_plat {
    margin: 5px;
}

/************************************/
/** version < 533px **/
/************************************/
@media screen and (max-width: 533px) {
    #connexion form {
        grid-template-columns: auto;
        text-align: center;
        width: 100%;
    }

    .two_column_button {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #connexion form label {
        text-align: center;
        margin-bottom: 0px;
    }
}

/************************************/
/** version < 337px **/
/************************************/
@media screen and (max-width: 337px) {
    #connexion form {
        grid-template-columns: auto;
        text-align: center;
        width: 100%;
    }

    .two_column_button {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #connexion form label {
        text-align: center;
        margin-bottom: 0px;
    }
}