/nbproject/private/
/.vscode
/.env
/projecttmp/
/.dockertmp/
/www/config/config_sgbd.php
/www/config/filedotenv.php
/www/config/.env
/www/data
/www/errors.log
/www/src/config/config.ini
/www/src/config/config.php
/www/config/
/www/tmp/
/www/data/images/img_tmp_*
/www/data/images/plat/img_tmp_*
/www/data/images/maki/img_tmp_*
/www/data/images/maki_tmp_*
/www/data/images/plat_tmp_*
/www/errors.log
/www/.env

